{% extends 'user/layout.html' %}
<!-- title -->
{% block title %} Homepage - AmicaBet {% endblock %}
<!-- content -->
{% block content %} {% from "user/bet.macro.html" import bet with context %}
<div class="row">
    <!-- Posts -->
    <div class="col-sm-12 col-md-8 gap-4">
        {{bet('betting test', None, 'Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Iure, facilis?', 20, [{'fname': 'Tom'}, {'fname':
        'Jake'}])}} {{bet('betting test', 'Jake is betting with freinds', 'Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Iure, facilis?', 20,
        [1,2,3])}} {{bet('betting test', 'Jake is betting with freinds', 'Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Iure, facilis?', 20,
        [1,2,3])}}
    </div>
    <!-- Friend list -->
    <div class="col-sm-12 col-md-4"></div>
</div>
{% endblock %}
