{% extends 'user.layout.html' %} {% block title %} Homepage - AmicaBet {%
endblock %} {% block main %}
<h1>Main block of the hompage</h1>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis impedit,
	delectus excepturi nostrum inventore iste eligendi quia iure tempore!
	Eveniet corporis, fugit animi accusamus praesentium dolor beatae pariatur
	sit ea culpa optio temporibus commodi impedit qui quaerat, nam debitis
	accusantium reiciendis soluta aliquam voluptate deserunt. Et velit, hic ut
	porro ipsum dolores temporibus sunt quas, eum deserunt dolor earum eveniet
	iusto non. Ipsum iste vero maiores libero, nisi, enim, necessitatibus
	temporibus ut laborum quia aliquid fuga corporis minus reiciendis
	blanditiis? Eum exercitationem repellendus distinctio tenetur nesciunt,
	impedit quisquam eos dolore saepe fugit doloribus deleniti dolores a
	provident nemo numquam vitae corrupti natus atque debitis maiores iste nobis
	quis dolorem. Aliquam, ipsam maxime distinctio voluptatum culpa sit rem
	exercitationem sunt quidem nemo at pariatur aliquid, enim delectus dolor
	laudantium vero reiciendis atque officia doloribus. Magnam voluptatem
	ratione quod, magni eum quibusdam laudantium corporis illum porro sit
	tempore officia ab iure mollitia veniam laborum libero error esse quidem
	excepturi nisi fuga voluptate illo? Laudantium porro ad, itaque
	necessitatibus omnis, fugiat dolor saepe voluptatum aspernatur explicabo
	pariatur tempora nobis vel? Ea magnam modi minus assumenda molestiae. Quidem
	laboriosam pariatur perferendis, atque ex adipisci aperiam aliquam maxime
	impedit. Nemo velit voluptate debitis, repellat, voluptatum quod voluptas
	excepturi impedit possimus amet dolorum minima eligendi! Porro ratione
	provident quam? Culpa voluptates deleniti error ratione, et non recusandae
	eveniet ab rem quibusdam animi aliquid quia nobis repudiandae architecto
	voluptate quod consectetur veritatis consequatur vitae? Minima corporis amet
	consectetur numquam. Quas, vitae facilis quidem delectus aut possimus
	aperiam laborum corporis sapiente voluptate, quaerat adipisci quo blanditiis
	inventore, id quasi minus reiciendis dicta veniam quam? Libero voluptatibus
	vel quasi rerum ex error incidunt aliquid quo similique, repudiandae at
	aspernatur temporibus, nesciunt, voluptas doloribus. Iusto obcaecati dolor
	illum doloribus porro doloremque dignissimos similique labore veritatis hic,
	ducimus mollitia nostrum voluptatem eum esse voluptatibus aliquam nisi
	asperiores fugit, sapiente repellat. Magni cum atque odit fuga ducimus, quo
	quis iure magnam eum qui sunt corrupti aperiam aliquam repellat, in
	perferendis nam? Sit molestias aperiam, reiciendis vitae soluta nesciunt
	adipisci porro fuga sequi dolorem et incidunt accusamus. Itaque dolorem
	facere neque, porro, quos modi laborum minima ratione, alias veritatis unde
	similique hic quam laboriosam et ea! Autem, perspiciatis harum, illum labore
	officia ut maiores voluptates fugiat beatae dolor, modi dolorum. Ipsa
	repellat doloribus animi voluptatum esse expedita, consectetur ut quo quis
	magnam, hic quas velit autem natus nemo odit sed perferendis. Maiores illum
	sapiente, consequatur dolore eligendi fuga deserunt excepturi eos nemo
	praesentium recusandae voluptate unde earum temporibus eum quae expedita
	repellat, accusantium vitae! Hic labore consequuntur culpa cumque tempore
	nihil ipsa omnis ullam voluptas illum assumenda id nesciunt corporis, nulla
	quidem voluptate facere doloribus debitis porro repudiandae modi quod?
	Provident quisquam asperiores quod odio aut ducimus tempore impedit,
	accusantium magnam qui, maxime optio eligendi. Velit, earum voluptatibus
	explicabo impedit quis minus, labore dolor, maiores obcaecati excepturi nam
	voluptatum modi repellendus magnam iure saepe pariatur quia autem vero
	alias. Recusandae quisquam tempore labore, molestias accusantium soluta
	obcaecati facilis, quos odit eveniet aliquid repudiandae, quas quis
	voluptatum? Praesentium, atque. Iste dolorem nobis labore debitis repellat
	veniam ea quaerat laborum ipsa, ullam odio officia aspernatur eum suscipit.
	Odit id eum aspernatur minima facere dolore a est. Pariatur ea minima
	provident nobis reiciendis rem molestiae eveniet eligendi harum? Harum totam
	soluta assumenda ex error minima eum corporis placeat, qui maiores debitis,
	aliquam consequatur laboriosam corrupti nemo molestias ullam reprehenderit
	voluptatum voluptate libero quod culpa voluptates? Accusantium officiis
	dignissimos enim molestiae, earum error necessitatibus atque ratione modi
	quisquam pariatur iste quidem ad eos in facere, laudantium rerum repellendus
	consequatur ducimus cupiditate? Sed minima in tenetur corporis eligendi, ex
	asperiores repellendus. Non possimus quo architecto nemo sint dicta nostrum
	nesciunt beatae vel odio nobis quas aperiam error itaque consequatur,
	exercitationem maxime. Magnam, officia rerum maiores aliquam sunt
	reprehenderit numquam accusamus! Voluptates nihil ipsam quia repellat id
	blanditiis, animi est cupiditate facilis voluptate non ad perferendis, cum
	dolores. Dolorem quis deserunt ipsam. Commodi soluta, assumenda dolores
	alias labore reprehenderit, distinctio fugit ut ullam facilis magnam magni
	ipsam. Ratione voluptatum, omnis suscipit quidem rem quasi tempore eos,
	tempora aliquid sequi animi consectetur ad itaque exercitationem vel quos,
	atque asperiores! Fugiat facere itaque dolore consequatur maxime in?
	Reiciendis aliquid tempore molestias maiores perspiciatis modi earum ratione
	vero consequatur corporis quo at quod suscipit nobis in magnam, adipisci,
	culpa minima alias odit ipsum. Voluptas rerum nostrum delectus molestias
	quae aspernatur quod minus! Delectus, alias illo? Deserunt repudiandae eius
	molestiae adipisci ab labore neque. Magnam placeat accusantium autem id
	rerum reiciendis magni numquam eos similique enim, temporibus repudiandae,
	eum fugit corporis? Culpa corrupti nostrum aut rerum distinctio iste ex
	architecto aliquam doloremque, reiciendis voluptas quia repudiandae dolores
	corporis praesentium debitis nemo, sapiente cumque vel quaerat quam vero
	consequuntur consectetur placeat. Error, accusantium? Voluptatum eligendi
	quod excepturi corporis nostrum impedit molestias soluta nisi, suscipit
	sequi quae officiis quisquam adipisci obcaecati earum quo amet minus
	assumenda, fuga vel aliquam hic qui voluptatem? Nisi quis molestiae debitis?
	Facere dolores exercitationem voluptate fugiat nulla vel, quidem at. Rerum,
	dolorum laborum omnis mollitia id delectus, quas odit explicabo alias
	accusamus minima natus eaque vero vel eligendi, dolor laboriosam assumenda
	corporis. Consequuntur vel ipsa earum, non repudiandae sunt reprehenderit
	sequi beatae aliquam dignissimos, perferendis hic. Tempore maxime, in modi
	eligendi dolor quidem reiciendis accusamus, voluptatibus, et facilis
	laboriosam maiores eius eum quae adipisci fuga exercitationem assumenda sint
	ipsum ratione atque mollitia! Ab, reiciendis iusto? Ipsa doloremque deleniti
	dicta aliquam debitis enim officiis aspernatur repudiandae consequatur
	inventore molestias nostrum perferendis ad nemo, a facilis? Rem iure
	adipisci corporis nisi reprehenderit illo, maxime asperiores tempora libero,
	odio architecto molestiae hic quia, sint ipsa. Sint, earum! Optio qui vitae
	placeat provident repellat beatae laborum itaque ducimus impedit, ut rerum
	enim eum libero fugit! Esse, voluptate provident repellat deleniti, amet
	porro odit eum velit mollitia nobis laudantium, atque laboriosam recusandae
	id corporis obcaecati asperiores qui numquam praesentium quod? Placeat quas
	reiciendis consectetur. Inventore, quis asperiores nihil dicta labore
	corrupti a repellendus hic architecto quo similique odit sapiente aut amet,
	ab excepturi at cupiditate!
</p>
{% endblock %}
