<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{%block title%} {%endblock%}</title>
        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
        />
        <!-- APPLYING THE FONT -->
        <style>
            * {
                font-family: "Poppins", sans-serif;
            }
            .bg {
                background-color: #f0f5f8;
            }

            .anim:hover {
                transform: scale(1.1);
            }

            .anim {
                transition: transform 0.2s ease-in-out;
            }

            .dropdown-toggle::after {
                content: none;
            }
            .hide-scrollbar::-webkit-scrollbar {
                display: none;
            }

            /* Hide scrollbar for IE, Edge and Firefox */
            .hide-scrollbar {
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }

            body {
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/static/imgs/bg.svg");
                min-height: 100vh;
            }
        </style>
    </head>

    <body>
        <!-- navigation bar -->
        <div>
            <nav class="navbar py-3 border-secondary shadow-sm z-1 bg-dark">
                <div class="container-sm">
                    <a class="navbar-brand anim">
                        <img
                            src="{{url_for('static', filename='imgs/AmicaBet.svg')}}"
                            alt="AmicaBet"
                            height="28"
                        />
                    </a>
                    <ul
                        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small gap-3"
                    >
                        <li>
                            <a
                                href="{{url_for('user.homepage')}}"
                                class="btn btn-outline-primary border border-0 {% if request.path[:15] == '/user/homepage/'%}disabled{%endif%}"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-house mx-auto mb-1"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"
                                    />
                                </svg>
                                <!-- Home -->
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{url_for('user.profile')}}"
                                class="btn btn-outline-primary border border-0 {% if request.path == '/user/profile'%}disabled{%endif%}"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-person mx-auto mb-1"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                                    />
                                </svg>
                                <!-- Profile -->
                            </a>
                        </li>

                        <li>
                            <a
                                href="{{url_for('user.search')}}"
                                class="btn btn-outline-primary border border-0 {% if request.path == '/user/search'%}disabled{%endif%}"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-search"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                    />
                                </svg>
                                <!-- Search -->
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{url_for('friend.index')}}"
                                class="btn btn-outline-primary border border-0 {% if request.path == '/friend'%}disabled{%endif%}"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-people"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"
                                    />
                                </svg>
                                <!-- Friends' bet -->
                            </a>
                        </li>
                        <li class="dropdown">
                            <button
                                class="btn btn-outline-primary border border-0 dropdown-toggle d-flex flex-row"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img
                                    src="{{url_for('static', filename='imgs/coin.svg')}}"
                                    width="24"
                                    height="24"
                                />
                                <!-- Notifications -->
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                >
                                    {{user.balance}}
                                    <span class="visually-hidden">Coins</span>
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="dropdown-item fs-6">
                                        You have {{user.balance}} coins
                                    </div>
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="{{url_for('user.addBalance')}}"
                                    >
                                        >Add more +</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a
                                href="{{url_for('auth.logout')}}"
                                class="btn btn-outline-danger border border-0"
                            >
                                <svg
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi d-block mx-auto mb-1"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
                                    />
                                </svg>
                                <!-- Logout -->
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- body -->
            <div class="container p-0">
                <!-- content -->
                {% block content %} {% endblock %}
            </div>
            <div
                class="position-absolute bottom-0 end-0 p-4"
                id="liveAlertPlaceholder"
            ></div>
        </div>
        <script>
            // Get notifications
            // date formatter
            const formatter = new Intl.DateTimeFormat("en", {
                month: "short",
                day: "numeric",
                hour: "numeric",
                minute: "numeric",
            });

            const getNotifications = () => {
                const url = "{{url_for('notification.get')}}";

                fetch(url, {
                    method: "GET",
                })
                    .then((response) => response.json())
                    .then((datas) => {
                        if (datas.length == 0) {
                            return;
                        }
                        const alertPlaceholder = document.getElementById(
                            "liveAlertPlaceholder"
                        );
                        for (data of datas) {
                            const wrapper = document.createElement("div");
                            wrapper.innerHTML = [
                                `<div class="alert alert-info alert-dismissible" role="alert">`,
                                `   <h4 class="alert-heading">AmicaBet</h4>`,
                                `   <div><button onclick="location.reload();" type="button" class="btn btn-link">${data.message}</button></div>`,
                                `   <div><em>${formatter.format(
                                    new Date(data.created_at)
                                )}</em></div>`,
                                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                                "</div>",
                            ].join("");
                            alertPlaceholder.append(wrapper);
                        }
                    })
                    .catch((error) => console.log(error));
            };

            setInterval(getNotifications, 5000);
        </script>
        <!-- Bootstrap -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
