<!-- macro definition -->
{% macro friend(fname, lname, balance, img=None) %}

<div class="px-3 my-4">
    <div class="d-flex flex-row justify-content-between gap-2">
        <div class="d-flex flex-row gap-2">
            <img
                class="rounded-circle"
                height="36"
                width="36"
                src="https://i.pravatar.cc/150?u={{fname}}{{lname}}"
                alt="Avatar"
            />

            <div class="my-auto fs-6 text-left w-full">
                {{fname|capitalize}} {{lname|capitalize}}
            </div>
        </div>
        <div class="my-auto fs-4">
            ${% if balance %} {{balance}} {% else %} 20 {% endif %}
        </div>
    </div>
</div>

<!--  -->
{% endmacro %}
