<!-- macro definition -->
{% macro friend(Uid, fname, lname, email, status, balance) %}

<div
    id="{{Uid}}-reject"
    style="opacity: 1; transition: opacity 1s"
    class="px-3 py-2 my-2 border rounded-3 shadow-sm"
>
    <div class="d-flex flex-row justify-content-between gap-2">
        <div class="d-flex flex-row gap-2">
            <img
                class="rounded-circle"
                height="36"
                width="36"
                src="https://i.pravatar.cc/150?u={{email}}"
                alt="Avatar"
            />

            <div class="my-auto fs-6 text-left w-full">
                {{fname|capitalize}} {{lname|capitalize}}
            </div>
        </div>
        <div
            id="{{Uid}}-accept"
            style="opacity: 1; transition: opacity 1s"
            class="my-auto d-flex flex-row gap-3"
        >
            {% if status == 'request' %}
            <button
                class="btn btn-outline-success btn-sm shadow-sm"
                onclick="accept('{{Uid}}')"
            >
                Accept
            </button>
            <button
                class="btn btn-outline-danger btn-sm shadow-sm"
                onclick="reject('{{Uid}}')"
            >
                Reject
            </button>
            {% endif %}
            <!--  -->
            {% if status == 'accepted' %}
            <button
                class="btn btn-primary shadow-sm"
                data-bs-toggle="modal"
                data-bs-target="#{{Uid}}-modal"
            >
                Bet
            </button>
            <!-- Modal -->
            <div
                class="modal fade"
                id="{{Uid}}-modal"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
            >
                <div
                    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                >
                    <div class="modal-content">
                        <div class="modal-header">
                            <div
                                class="modal-title fs-5 text-center w-100 align-items-start"
                                id="staticBackdropLabel"
                            >
                                <img
                                    class="rounded-circle"
                                    height="60"
                                    width="60"
                                    src="https://i.pravatar.cc/150?u={{user['email']}}"
                                    alt="Avatar"
                                />
                                <img
                                    height="36"
                                    width="36"
                                    src="{{url_for('static', filename='imgs/vs.png')}}"
                                    alt="Avatar"
                                />
                                <img
                                    class="rounded-circle"
                                    height="60"
                                    width="60"
                                    src="https://i.pravatar.cc/150?u={{email}}"
                                    alt="Avatar"
                                />
                            </div>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body text-start">
                            <form
                                id="{{Uid}}-form"
                                class="px-3"
                                action="{{url_for('bet.create', invited_Uid=Uid)}}"
                                method="post"
                            >
                                <div class="form-floating mb-3">
                                    <input
                                        type="text"
                                        name="title"
                                        class="form-control form-control-lg"
                                        id="{{Uid}}-title"
                                        placeholder="title"
                                        required
                                    />
                                    <label for="{{Uid}}-title">Bet Title</label>
                                </div>
                                <div class="form-floating">
                                    <textarea
                                        class="form-control"
                                        placeholder="Leave a comment here"
                                        name="description"
                                        id="{{Uid}}-des"
                                        style="height: 100px"
                                    ></textarea>
                                    <label for="{{Uid}}-des">Description</label>
                                </div>

                                <div
                                    class="mt-4 d-flex align-items-center justify-content-center gap-3"
                                >
                                    <input
                                        id="{{Uid}}-ticket"
                                        type="range"
                                        class="form-range"
                                        name="ticket"
                                        min="2"
                                        value="{{user.balance}}"
                                        max="{{user.balance}}"
                                        id="customRange2"
                                        oninput="this.nextElementSibling.innerHTML = 'Coins: ' + this.value"
                                    />

                                    <span class="badge bg-secondary fs-4"
                                        >Coins: {{user.balance}}</span
                                    >
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                id="{{Uid}}-close"
                                type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                            <button
                                class="btn btn-success"
                                type="submit"
                                form="{{Uid}}-form"
                                value="Submit"
                            >
                                Send Bet Request
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <script type="application/javascript"></script>

            {% endif %}
            <!--  -->
            {% if status == 'pending' %}

            <button class="btn btn-secondary shadow-sm" type="button" disabled>
                Pending...
            </button>
            {% endif %}
        </div>
    </div>
</div>

<!--  -->
{% endmacro %}
