{%extends 'base.html'%}

{%block title %}
    Test - AmicaBet
{%endblock%}


{%block body%}
<h1>Test page</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat id ipsam hic expedita! Nisi, assumenda nulla suscipit consequuntur id est reprehenderit maxime fugiat perspiciatis quam vero autem soluta nostrum? Nobis voluptatibus inventore sapiente harum pariatur distinctio ab quasi a maiores recusandae tenetur, unde, sequi quidem ratione veritatis ea dolores soluta ducimus alias? Recusandae excepturi ea nesciunt! Saepe quisquam, minus enim hic natus obcaecati! Officia omnis, iste odit voluptatum eaque quis! Consectetur, suscipit? Necessitatibus excepturi impedit nihil, dolore iusto laudantium dolor obcaecati, perferendis architecto eum minus sed? Doloremque, ea. Distinctio dolore tenetur adipisci. Tempore aspernatur facilis hic deserunt dolorem. Repellendus, debitis.
</p>
{%endblock%}