{% extends 'base.html' %}

{% block title %}
    Sign-in
{% endblock %}

{% block body %}
<div class="container-sm px-2">
    <div class="card position-absolute top-50 start-50 translate-middle " style="min-width: 310px; max-width: 36rem; width:100%">
        <div class="card-body">
            <img src="{{url_for('static', filename='AmicaBetBlue.svg')}}" class="card-img-top mb-3" alt="<h1>AmicaBet</h1>">
            <h4 class="card-title">Sign-in</h4>

            <form action="{{url_for('auth.signin')}}" method="post">
                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input required placeholder="Email Address" type="email" name="email" value="{{email}}" class="form-control" aria-describedby="emailHelp">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                {% if login %}
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input required placeholder="Password" type="password" name="password" class="form-control" >
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid password.
                    </div>
                </div>
                {% elif register %}
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">Password</label>
                        <input required placeholder="Password"  type="password" name="password" class="form-control" >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid Password.
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Confirm Password</label>
                        <input required placeholder="Confirm Password" type="password" name="confirmPassword" class="form-control" >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please confirm password.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">First Name</label>
                        <input required placeholder="First Name" type="text" name="fname" class="form-control" >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid name.
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Last Name</label>
                        <input required placeholder="Last Name" type="text" name="lname" class="form-control" >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid name.
                        </div>
                    </div>
                </div>
                {%else%}
                {% endif %}

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script>
      
    </script>
</div>
{% endblock %}